<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href={{CSSLink}}>
    <title class="head">
        Facts About...
    </title>
</head>

<body>
    {{#unless error}}
    <div>
        <h1>
            Facts about...<br>{{topic.name}}!
        </h1>
        <ol>
            {{#each topic.facts}}
            <li>    {{this}}</li>
            <br>
            {{/each}}
        </ol>
    </div>
    {{else}}
    <div>
        <p>
            !IMPORTANT!: The "num" query string represents the percentage of facts shown per topic NOT the number of facts shown.
        </p>
    </div>
    {{/unless}}
    <div>
        <form action="/facts" method="GET">
        <label for="topic">Pick the Topic</label>
        <select name="topic" id="topic">
            {{#each topics}}
                <option value={{this.value}}>{{this.name}}</option>
            {{/each}}
        <br>
        <label for="num">Number of facts:</label>
        <br>
        <input type="range" min="1" max="100" value={{num}} id="num" name="num">
        <button>Update</button>
    </div>
</body>
<hr>
<a href="https://thechessworld.com/articles/general-information/40-facts-about-chess-most-people-dont-know/">Credit goes to this site :)</a>
<br><br>
<a href="/">home</a>
</html>