<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href={{CSSLink}} >
        <title>
            Web Main Page
        </title>
    </head>
    <body>
        <h1>
            Links To Labs Below:
        </h1>
        <ul>
            <a href={{dogCatFish}}>Dog-Cat-Fish</a>    
        </ul>
        <p>
            <br>Today's date is {{month}}/{{day}}/{{year}}.
        </p>
    </body>
</html>