<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href={{CSSLink}}>
    <title class="head">
        {{type}}
    </title>
</head>

<body>
    {{#unless error}}
    <h1>
        Dog-Cat-Fish
    </h1>
    <p>
        Here's a {{type}}.
    </p>
    {{#unless truth}}
    <p class="psych">
        JUST KIDDING! It's not a {{type}}, you're so silly.
    </p>
    {{/unless}}
    <img src={{imgsrc}}>
    {{else}}
    <h1>
        Error: Page Not Found :(
    </h1>
    {{/unless}}
    <p class="instructions">
        Ask the fish for instructions.
    </p>
    <a href="/dogcatfish">main page</a>
    <p>
        <br>Today's date is {{month}}/{{day}}/{{year}}.
    </p>

</body>

</html>